<div class="w-[300px]">
  <div
    class="font-[600] cursor-pointer py-4 px-6 hover:bg-yellow-400 rounded-[40px]"
    (click)="getAllNotes()"
    routerLink="/notes"
  >
    All
  </div>
  <div
    class="font-[600] cursor-pointer py-4 px-6 mb-2 hover:bg-yellow-400 rounded-[40px]"
    (click)="getFavoriteNotes()"
    routerLink="/notes"
  >
    Favorite
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded="true" class="border-t-2 border-gray-200">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-[500]"> Categories </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        *ngFor="let category of categories | async"
        class="flex items-center px-2 py-2 text-gray-500 cursor-pointer hover:bg-yellow-400 rounded-[40px]"
        (click)="getNotesByCategory(category)"
        routerLink="/notes"
      >
        <div
          class="w-3 h-3 rounded-full mr-5"
          [style.background-color]="category.color.light"
        ></div>
        <div>{{ category.name }}</div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" class="border-t-2 border-gray-200">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-[500]"> Tags </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        *ngFor="let tag of tags | async"
        class="flex items-center px-2 py-2 text-gray-500 cursor-pointer hover:bg-yellow-400 rounded-[40px]"
        (click)="getNotesByTag(tag)"
        routerLink="/notes"
      >
        <div>#{{ tag.name }}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
