<div class="p-6 rounded-xl" [ngStyle]="{ 'background-color': category?.color }">
  <h2 class="text-[20px] font-medium mb-4">{{ note.title }}</h2>
  <p class="text-[14px] text-gray-400 mb-4">{{ note.data }}</p>
  <p class="mb-4">{{ note.text }}</p>
  <div class="flex">
    <div class="flex flex-1 gap-1">
      <div
        *ngIf="category && category.id !== 0"
        class="bg-red-600 shadow-red-600 shadow-md text-white text-[14px] font-medium rounded-2xl px-3 py-1"
      >
        {{ category.name }}
      </div>
      <div
        *ngFor="let tag of tags"
        class="bg-gray-200 shadow-gray-200 shadow-md text-[14px] font-medium rounded-2xl px-3 py-1"
      >
        {{ tag.name }}
      </div>
    </div>
    <div>
      {{ note.favorite }}
    </div>
  </div>
</div>
